body{
margin: 0 auto;
}

.container{
 display: grid;
 background:#3c3c3c;
 grid-auto-rows: 80px;
 grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
 height: 500px;
 gap: 1rem;
 grid-template-areas:
  "header header header"
  "aside main main"
  "footer footer footer"	
}


.container header{
 background: #b5b5b5;
 grid-area: header;
 
}
.container aside{
 background: #b5b5b5;
 grid-area: aside;
}
.container main{
 background: #b5b5b5;
 grid-area: main;
}
.container footer{
 background: #b5b5b5;
 grid-area: footer;
}
